bumpversion
wheel
watchdog
flake8
tox
coverage
# Peg docutils until below bug is resolved
# https://github.com/sphinx-doc/sphinx/issues/3212
#docutils==0.12
docutils
#Sphinx==1.4.8
Sphinx
sphinx_rtd_theme
pytest
pytest-vcr
vcrpy
argh
twine
