bumpversion
wheel
watchdog
flake8
tox
coverage
# Peg docutils until below bug is resolved
# https://github.com/sphinx-doc/sphinx/issues/3212
#docutils==0.12
# Docutils < 0.17 is required for sphinx_rtd_theme == 0.5.2
docutils==0.16
#Sphinx==1.4.8
Sphinx
sphinx-rtd-theme
pylint
pytest
pytest-vcr
vcrpy
argh
twine
